body {
  font-family: sans-serif;
}
h1 {
  color: blue;
  font-family: sans-serif;
}

code {
  /* font-family: monospace; */
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: red;
}

.second-li-code {
  color: green;
}

li {
  font-family: inherit;
}

li ~ li {
  background: black;
  color: white;
}

ol li {
  background: black;
  color: white;
}
